<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd//mybatis-3-mapper.dtd">
<mapper namespace="com.xing.uni.mapper.WxUserInfoMapper">
    <resultMap id="wxUserInfoResult" type="com.xing.uni.entity.WxUserInfo"></resultMap>

    <select id="findByOpenId" parameterType="String" resultMap="wxUserInfoResult">
        select * from user where openid=#{openid}
    </select>
</mapper>
<!---->
<!---->